@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

/* 모든 해상도를 위한 공통 코드작성 */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: #fff;
}

body,
a,
h1,
h2,
span,
p,
label,
input,
select,
textarea,
button {
  font-family: '나눔고딕', NanumGothic, '돋움', Dotum, sans-serif;
  font-size: 16px;
  color: #333;
}

a {
  text-decoration: none;
  color: #000;
  display: block;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  margin: -1px;
  overflow: hidden;
}


/* mobile device */
@media screen and (min-width: 320px),
screen and (min-height: 320px) and (orientation: landscape) {

  /* 상단 팝업 */
  .pop {
    height: 80px;
    padding: 16px 12% 20px 12%;
    background-color: #444;
    position: relative;
  }

  .pop-wrap {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
  }

  .pop-close {
    position: absolute;
    right: 4%;
    top: 30px;
  }

  /* 헤더영역 */
  .header {
    background-color: #fff;
    height: 60px;
    position: relative;
  }

  .p-header01 {
    display: none;
  }

  .header-wrap {
    padding: 15px 20px;
    height: 60px;
    text-align: center;
  }

  .header-left {
    float: left;
    width: 60px;
  }

  .header-left a,
  .header-right a {
    display: inline-block;
  }

  .menu-icon,
  .login-icon {
    margin-right: 5px;
  }

  .logo {
    text-align: center;
    font-weight: bold;
    display: inline-block;
  }

  .header-right {
    float: right;
    width: 60px;
  }


  .header-wrap:after {
    display: block;
    content: '';
    clear: both;

  }

  /* 메뉴영역 시작 */
  .m-nav {
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0;
    height: 100vh;
    padding: 20px 0;
    text-align: left;
    z-index: 100;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transition: transform 500ms ease-out;
    will-change: transform;

  }


  .move {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    /* let the browser know we plan to animate
    each view in and out 부드러운 전환을 위해 필수 */
    transition: transform 500ms ease-out;
    will-change: transform;
  }

  .m-nav1 {
    height: auto;
    padding-bottom: 30px;
    /* padding: 0 11%; */
  }

  .m-close {
    padding: 0 11%;
  }

  .m-close span {
    margin-left: 20px;
    font-weight: 600;
  }

  .m-menu1 {
    margin-top: 40px;
  }

  .m-menuitem {
    font-size: 14px;
    line-height: 30px;
    position: relative;
  }

  .m-menulink {
    padding: 0 11%;
  }

  .m-smenu {
    display: none;
    padding: 10px 0;
    background-color: #E8E8E8;

  }

  .m-smenuitem {
    padding: 0 11%;
  }

  .m-menulink .fas,
  .m-intro .fas {
    float: right;
    margin-top:10px;
  }

  .mline {
    border: 0;
    border-top: 1px solid #000;
    margin: 30px 11%;
  }

  .m-intro {
    clear: both;
    margin: 0 11%;
  }

  .m-nav2 {
    background-color: #c4c4c4;
    height: 180px;
    padding: 30px 11%;
  }

  .m-menuitem2 {
    font-size: 14px;
    line-height: 30px;
  }

  /* 검색폼 */
  .m-search {
    display: none;
    width: 100%;
    height: 60px;
    background-color: #fff;
    z-index: 50;
    position: absolute;
    padding: 10px 11%;
    top:0;
  }

  .s-form {
    position: relative;
  }

  .s-text {
    width: 100%;
    height: 40px;
    border: 1px solid #696969;
    text-indent: 34px;
  }

  .submit-img {
    position: absolute;
    top: 8px;
    left: 5px;
  }

  .s-close {
    position: absolute;
    top: 12px;
    right: 10px;
    font-weight: 300;
  }

  /* 헤더 영역 끝 */



  /* 컨텐츠영역 시작 */
  .container {
    min-height: 100%;
  }

 
  /*푸터 */
  .footer {
    min-height: 630px;
    background-color: #444;
  }

  .fcontent1 {
    height: auto;
    padding: 50px 20px 30px;
  }

  .fbanner {
    height: 60px;
    margin-bottom: 10px;
  }

  .f-h2 {
    color: #fff;
    font-size: 17px;
    line-height: 50px;
    font-weight: bold;
  }

  .fmenu-link {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }

  .fcontent1-1, .fcontent2, .fcontent3 {
    height: auto;
    padding: 20px;
    border-bottom: 1px solid #fff;
  }
  .fcontent1-1 {
    padding-top:0;
  }

  .fmenu1-link, .fmenu2-link, .fmenu3-link {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }
  .fcompany {
    height: 200px;
    padding: 30px 20px;
  }

  .faddress {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
  }

  .sns-list {
    margin: 40px 0 50px;
    text-align: center;
  }

  .sns-item {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #c4c4c4;
  }

  .sns-item+.sns-item {
    margin-left: 20px;
  }

  .mobile-dimmed {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.3;
    z-index: 10;
  }
}

/* pc */
@media screen and (min-width:1024px),
screen and (min-height:1024px) and (orientation:landscape) {

  /* 상단 팝업 */
  .pop {
    height: 35px;
    padding: 0;
  }

  .pop-wrap {
    max-width: 1300px;
    font-size: 13px;
    line-height: 35px;
    margin: 0 auto;
    text-align: center;
  }

  .pop-close {
    right: 20px;
    top: 12px;
  }

  .m-nav {
    width: 320px;

  }

  /* pc 헤더1 */
  .p-header01 {
    max-width: 1300px;
    margin: 0 auto;
    display: block;
    height: 35px;
    text-align: right;
  }

  .plinkitem {
    display: inline-block;
    margin-left: 20px;
    line-height: 35px;
  }

  .plink {
    font-size: 13px;
    color: #696969;
  }

  /* 헤더영역 */
  .header {
    height: 95px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    z-index:11;
}
  .header-wrap {
    max-width: 1300px;
    margin: 0 auto;
  }
   /* 검색폼 */
   .m-search {
   
    top:35px;
  }
  .container {
    /* top:35px; */
    z-index:10;
    position:relative;
    padding-bottom:621px; /* 푸터길이만큼 */
  }
  .content-wrap {
    z-index:10;
  }
/*푸터 */
.footer {
  min-height: 621px;
  position:fixed;
  bottom:0;
  z-index:0;
  width:100vw;

}
.footer-wrap {
  max-width:1300px;
  margin:0 auto;
  overflow:hidden;
}
.fcontent-wrap {
  overflow:hidden;
}
.fcontent1 {
  height: 300px;
  text-align:center;
  padding: 130px 0 110px;
}

.fbanner {
  display:inline-block;
}

.fcontent1-1, .fcontent2{
  float:left;
  width:33.33%;
  border-bottom:unset;
  vertical-align: top;
  padding:0;
}
.fcontent2 {
  text-align:center;
}
.fcontent3 {
  float:right;
  width:33.33%;
  border-bottom:unset;
  text-align:right;
  padding:0;
}

.footer-wrap02 {
  margin-top:50px;
  border-top:1px solid #fff;
}

.fcompany {
  max-width:1300px;
  margin:0 auto;
  height: 100px;
  padding: 30px 0;
  
}

.faddress {
  float:left;
}

.sns-list {
  margin:0;
  float: right;
}


}