@charset "utf-8";
@import url('sub.css');

/* mobile device */
@media screen and (min-width: 320px),
screen and (min-height: 320px) and (orientation: landscape) {

  

    .con1-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
    }

    .con1-wrap li {
        width: 50%;
        height: auto;
        float: left;
        text-align: center;
        padding-bottom: 20px;
    }

    .con1-wrap>ul>li>a {
        width: calc(100% - 4px);
        text-align: center;
        margin: 0 auto;
    }

    .con1-wrap>ul>li>a>img {
        width: 100%;
    }

    .con-txt>p {
        font-size: 11px;
        font-weight: 900;
        padding-bottom: 3px;
    }

    .con-txt {
        text-align: left;
        text-indent: 5px;
        padding: 5px 0;
    }

    .con-link>a {
        font-size: 13px;
        color: #333;
    }

    .con2-wrap {
        width: 100%;
        clear: both;
        padding-bottom: 20px;
        background-color: #fff;
    }

    .pc-img1 {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .pc-img1>img {
        width: 100%;
    }


    .pc-img2 {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .pc-img2>img {
        width: 100%;
    }

    .pc-b-img1 {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .pc-b-img1>img {
        width: 100%;
    }


    .pc-b-img2 {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .pc-b-img2>img {
        width: 100%;
    }

    /* --------------------into------------------------ */

    .into-tit {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-top: 40px;
    }

    .into-logo {
        padding-bottom: 35px;
    }

    .into-con-txt {
        width: 100%;
        color: #000;
        font-size: 11px;
        padding-bottom: 30px;
        line-height: 17px;
    }

    .into-con-txt strong {
        font-weight: 600;
    }

    .into-con-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }

    .into-img-box {
        width: 100%;
        margin: 40px 0;
        overflow: hidden;
    }

    .into-img1 {
        padding-left: 25%;
    }

    .into-img2 {
        width: 60%;
        float: left;
    }

    .into-txt {
        font-size: 8px;
        line-height: 17px;
        text-indent: 5px;
        color: rgb(238, 238, 238);
    }

    .into-txt-box1 {
        width: 70%;
        background-color: rgba(68, 68, 68, 0.774);
        padding: 30px 15px;
        position: absolute;
        right: 0;
        top: 40%;
    }

    .into-img3 {
        width: 70%;
        float: right;
        padding: 200px 0 0;
    }

    .into-txt-box2 {
        width: 60%;
        background-color: rgba(68, 68, 68, 0.774);
        padding: 30px 15px;
        position: absolute;
        left: 0;
        top: 25%;
    }

    .collection-more {
        width: 100%;
        margin: 0 auto;
        clear: both;
        padding-top: 50px;
        text-align: center;
    }

    .collection-more-tit {
        border: 1px solid #696969;
        width: 120px;
        margin: 7px auto;
        line-height: 30px;
        font-size: 16px;
        color: #000;
        font-weight: 600;
    }

    .collection-more-txt {
        font-size: 14px;
        font-weight: 600;
    }

    .video-wrap {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: relative;
        margin-bottom: 25px;
    }

    .video-tit {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
    }
    
    .video-tit a {
        color: #fff;
        font-size: 20px;
        font-weight: 600;
    }

    .video-tit span {
        color:  #fff;
        font-size: 13px;
    }

    .event-con-slide {
        width: 100%;
        background-color: #eee;
        height: auto;
        margin-bottom: 25px;
    }

    .event-con-list-wrap {
        position: relative;
        width: 100%;
        height: 320px;
        overflow-y: hidden;
        overflow-x: auto;
        text-align: center;
    }

    .event-con-list {
        position: absolute;
        top: 0;
        left: 0;
        width: 300%;
        height: 100%;
    
    }

    .event-con-list li {
        float: left;
        width: 33.3333%;
    }

    .event-con-txt-wrap {
        text-align: center;
        line-height: 17px;
        width: 100%;
        padding: 30px 0;
        color: #333;
    }

    .event-con-tit {
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 25px;

    }

    .event-con-txt {
        font-size: 11px;
        padding-bottom: 25px;
    }

    .event-con-more-tit {
        margin: 0 auto;
        width: 120px;
        padding: 5px 0;
        border: 1px solid #000;
        font-size: 14px;
        /* font-weight: 600; */
        text-align: center;
    }

    .event-con-more-txt {
        font-size: 14px;
        color: #000;
        padding-top: 5px;
    }

    .event-con-more-tit2 {
        margin: 0 auto;
        width: 120px;
        padding: 5px 0;
        border: 1px solid #fff;
        font-size: 14px;
        /* font-weight: 600; */
        text-align: center;
    }

    .event-con-more-tit2>a {
        color: #fff;
    }

    .event-con-more-txt2 {
        font-size: 14px;
        color: #fff;
        padding-top: 5px;
    }

  

    .event-con-wrap {
        width: 100%;
        position: relative;
        margin-bottom: 25px;
    }

    .event-con-more-wrap {
        width: 100%;
        text-align: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10%;
    }

/* ---------------------------공지사항----------------------------------*/


    .notice-tit-wrap {
        text-align: center;
        line-height: 20px;
        width: 100%;
        background-color: #444;
        padding: 15px 0;
        margin-bottom: 50px;
    }
    
    .notice-tit-t {
        color: #fff;
        font-size: 16px;
        font-weight: 700;
    }

    .notice-tit-hp>a {
        color: #E8EB69;
        font-size: 14px;
        font-weight: 600;
        padding-bottom: 13px;
    }

    .notice-tit-p {
        color: #fff;
        font-size: 9px;
    }

    .qa {
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        color: #000;
        margin-bottom: 30px;
    }
    
    .notice-txt-wrap {
        width: calc(100% - 10px);
        margin: 20px auto;
        padding-bottom: 10%;
        height: 180px;
        border-bottom: 1px solid #444;
        padding-top: 5%;
    }

    .notice-txt-wrap:last-child {
        border: none;
    }

    .notice-txt-tit {
        font-size: 13px;
        font-weight: 700;
        float: left;
        width: 25%;
        height: 150px;
        text-align: right;
        padding-right: 2%;
    }

    .notice-txt-list{
        height: 150px;
        font-size: 11px;
        line-height: 17px;
        width: 75%;
        float: left;
        padding-left: 2%;
    }
    






}


/* pc */
@media screen and (min-width:1024px),
screen and (min-height:1024px) and (orientation:landscape) {

    /* dress.html start */
    .pc-h01 {
        height: 45.05vw;
        padding:0 30px;
    }
    .pc-h01 li:first-child {
        width:50%;
        padding-right:1.53%;
    }
    .pc-h01 li:last-child {
        width:50%;
        padding-left:1.53%;
    }
    .pc-h02 {
        height: auto;
        text-align: center;
        padding-top: 8.07vw;
        padding-bottom:155px;

    }

    .pc-img1 {
        display: inline;
        width: unset;
        height: unset
    }

    .pc-img1 img {
        width:47.69%;
        height: auto;
    }

    .pc-h02 {
        text-align: center;
    }

    .pc-h02>.con-txt {
        padding-left: 26%;
    }

    .pc-h03 {
        height: 93.33vw;
        width:100%;
        padding:0 30px;
    }
    .pc-h03 li {
        width: 30.76%;        
    }
    .pc-h03 li{
        margin-left:3.82%;   
    }
    .pc-h03 li:first-child {
        margin-left:unset;  
    }
    .pc-h03 li:last-child {
        margin:155px 0; 
        float:right;
        width:46.53%;
        height:auto;
    }

    .pc-h04 {
        height: auto;
        text-align: center;
        padding-bottom:155px;
    }


    .pc-h04>.con-txt {
        padding-left: 26%;
    }

    .pc-img2{
        display: inline;
        width: unset;
        height: unset
    }

    .pc-img2 img {
        width: 47.69%;
        height: auto;
    }
    .pc-h05 {
        height: 120vw;
        padding:0 30px;
    }
    

    .pc-h05 li:nth-child(2n + 1) {
        width:50%;
        padding-right:1.53%;
        padding-bottom:100px;
    }
    .pc-h05 li:nth-child(2n) {
        width:50%;
        padding-left:1.53%;
        padding-bottom:100px;
    }
    /* dress.html end */

    /* bouquet.html start */

    .pc-b01 {
        width: 75%;
        float: right;
        margin-bottom: 155px;
    }

    .pc-b01>a>img:hover {
        transform: scale(1.5);
        transition-duration: 1s;
    }
    .pc-b03>a>img:hover {
        transform: scale(1.5);
        transition-duration: 1s;
    }
    .pc-b04>a>img:hover {
        transform: scale(1.5);
        transition-duration: 1s;
    }
    
    
    .pc-b02 {
        clear: both;
        width: 75%;
    }


    .pc-b02 li:nth-child(1n) {
        margin-bottom: 100px;
    }

    .pc-b02 li {
        padding: 0 10px;
    }

    .pc-b03 {
        width: 75%;
        float: right;
        margin-bottom: 155px;
        margin-top: 55px;
    }

    .pc-b04 {
        width: 75%;
        float: left;
        margin-bottom: 155px;
    }

    .pc-b05 {
        clear: both;
        width: 75%;
        height: 50vw;
    }

    .pc-b05 li {
        padding: 0 10px;
    }
    

    /* bouquet.html end */

    /* into.html start */

    .into-logo{
        padding-bottom:  850px;
    }

    .into-con-txt {
        font-size: 16px;
        line-height: 25px;
    }

    .into-txt {
        font-size: 16px;
        line-height: 25px;
    }


    .pc-i01 {
        width: 69%;
        position: absolute;
        top: 180px;
        left: 0;
        right: 0;
        height: 700px;
        overflow: hidden;
    }

    .pc-i02 {
        width: 100%;
        
    }

    .pc-i03 {
        width: 100%;
        height: 700px;
        overflow: hidden;
        margin-bottom: 150px;
        margin-top: 10px;
    }

    .pc-i03 img {
        width: 100%;
    }

    .into-txt-box1 {
        width: 48%;
        background-color: rgba(68, 68, 68, 0.774);
        padding: 150px 125px;
        position: absolute;
        right: 0;
        top: 50%;
    }


    .into-txt-box2 {
        width: 40%;
        background-color: rgba(68, 68, 68, 0.774);
        padding: 200px 115px;
        position: absolute;
        left: 80px;
        top: 0;
    }

    .pc-i04 {
        width: 85%;
        height: 45vw;
    }
    .pc-i05 {
        width: 80%;
        height: 55vw;
        margin-top: 200px;
        margin-left: 200px;
    }

    .pc-i06 {
        padding: 100px 0 155px;
    }

    }